@using PagedList.Mvc
@model  PagedList.IPagedList<tom2.Models.category>

@{
    ViewBag.Title = ("Index");
    Layout = "~/Views/Shared/_Layout2.cshtml";
}

<style>

        .footer {
            padding: 50px 0 20px 0;
            background-color: black;
            color: #878c94;
        }

            .footer .title {
                text-align: left;
                color: #fff;
                font-size: 25px;
            }


            .footer .social-icon {
                padding: 0px;
                margin: 0px;
            }

                .footer .social-icon a {
                    display: inline-block;
                    color: #fff;
                    font-size: 25px;
                    padding: 5px;
                }

            .footer .acount-icon a {
                display: block;
                color: #fff;
                font-size: 18px;
                padding: 5px;
                text-decoration: none;
            }

            .footer .acount-icon .fa {
                margin-right: 25px;
            }


            .footer .category a {
                text-decoration: none;
                color: #fff;
                display: inline-block;
                padding: 5px 20px;
                margin: 1px;
                border-radius: 4px;
                margin-top: 6px;
                background-color: black;
                border: solid 1px #fff;
            }

            .footer .payment {
                margin: 0px;
                padding: 0px;
                list-style-type: none
            }

                .footer .payment li {
                    list-style-type: none
                }

                    .footer .payment li a {
                        text-decoration: none;
                        display: inline-block;
                        color: #fff;
                        float: left;
                        font-size: 25px;
                        padding: 10px 10px;
                    }
    </style>


<!DOCTYPE html>

<html>
<head>
  
 

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="../../favicon.ico">
    <link rel="canonical" href="https://getbootstrap.com/docs/3.3/examples/carousel/">

    <link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/js/bootstrap.min.js"></script>
    <script src="//code.jquery.com/jquery-1.11.1.min.js"></script>



    <!-- Bootstrap core CSS -->
    <link href="../../dist/css/bootstrap.min.css" rel="stylesheet">

    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <link href="../../assets/css/ie10-viewport-bug-workaround.css" rel="stylesheet">

    <!-- Just for debugging purposes. Don't actually copy these 2 lines! -->
    <!--[if lt IE 9]><script src="../../assets/js/ie8-responsive-file-warning.js"></script><![endif]-->
    <script src="../../assets/js/ie-emulation-modes-warning.js"></script>

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="https://cdn.jsdelivr.net/npm/html5shiv@3.7.3/dist/html5shiv.min.js"></script>
      <script src="https://cdn.jsdelivr.net/npm/respond.js@1.4.2/dest/respond.min.js"></script>
    <![endif]-->
    <!-- Custom styles for this template -->
    <link href="carousel.css" rel="stylesheet">


    <meta name="viewport" content="width=device-width" />
    <title>View  Category</title>
    <link href="~/Content/paginition.css" rel="stylesheet" />
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" />
    <link href="~/Content/bootstrap.css" rel="stylesheet" />

    <link href="~/Content/Cat_Style/bootstrap.css" rel="stylesheet" />
    <link href="~/Content/Cat_Style/style.css" rel="stylesheet" />
    <link href="~/Content/Cat_Style/font-awesome.css" rel="stylesheet" />
    <link href="~/Content/Cat_Style/flexslider.css" rel="stylesheet" />

</head>


<body>

    @*  <div class="header" id="home1">
        <div class="container">
            <div class="w3l_login">
                <a href="#" data-toggle="modal" data-target="#myModal88"><span class="glyphicon glyphicon-user" aria-hidden="true"></span></a>
            </div>
            <div class="w3l_logo">
                <h1><a href="index.html">TOM UTENSILO</a></h1>
            </div>
            </div>
        </div>*@

    <!-- Carousel
    ================================================== -->

    <div class="container">
    <div id="myCarousel" class="carousel slide" data-ride="carousel">
        <!-- Indicators -->
        <ol class="carousel-indicators">
            <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
            <li data-target="#myCarousel" data-slide-to="1"></li>
            <li data-target="#myCarousel" data-slide-to="2"></li>
        </ol>
        <div class="carousel-inner" role="listbox">
            <div class="item active">
                <img class="first-slide" src="~/Images/home2.jpg" alt="First slide" height="20%" width="100%">
               
            </div>
            <div class="item">
                <img class="second-slide" src="~/Images/home4.jpg" alt="Second slide" width="1500px" height="150px">
                
            </div>
            <div class="item">
                <img class="third-slide" src="~/Images/home7612x385.jpg" alt="Third slide" width="100%" height="20%">
                
            </div>
        </div>
        <a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev">
            <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
            <span class="sr-only">Previous</span>
        </a>
        <a class="right carousel-control" href="#myCarousel" role="button" data-slide="next">
            <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
            <span class="sr-only">Next</span>
        </a>
    </div><!-- /.carousel -->
        </div>
    @**<img src="~/Content/img/logo5.png" style="background-size:cover;margin-top:30px;height:500px" width="100%" />*@

    <hr />

    <div class="container">
        <div class="row">
            <div class="col align-self-center" style="height:100px; border:1px solid solid; ">
                @if (TempData["msg"] != null)
                {

                    <div class="alert alert-success">
                        <strong>Success!</strong> @TempData["msg"]
                    </div>
                }

                @if (@TempData["total"] == null)
                {
                    <h2 style="text-align:center"><b>Total Bill: 0 Tk</b></h2>
                }
                else
                {
                    <h2 style="text-align:center"><b>Total Bill: @TempData["total"] Tk</b></h2>

                }
            </div>
            <div class="col align-self-center">
                <h3 style="color:black; font-family:'Arial Rounded MT';text-align:center;"><span class="btn-btn-info">@Html.ActionLink("Check Out", "checkout", "User")</span></h3>

            </div>
            <hr>
           
        </div>
    </div>


    <div class="container" style="height:1150px; ">
       
    

        
        <h1 style="text-align:center"> OUR PRODUCT</h1>
        <hr />


        <div class="row" style="margin-bottom:20px">
            @if (Model != null)
            {
                foreach (var item in Model)
                {





                    <div class="col-lg-4 col-md-4" style="height:220px;margin-top:160px">
                        <img src="@Url.Content(item.cat_image)" style=" height:130%;width:100%" />
                        <br />
                        <h4 style="color:#808080; font-family:'Arial Rounded MT';text-align:center;margin-top:20px">@Html.ActionLink(@item.cat_name, "DisplayAddU", new { id = @item.cat_id })</h4>
                        <br />

                    </div>



                }
            }




           

        </div>
       


        <div style="margin-top:370px">
            <div id="container" style="margin-left: 100px">
                <p></p>
                <p></p>
                <div class="pagination" style="margin-left: 400px">
                    Page @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber)
                    of @Model.PageCount   @Html.PagedListPager(Model, page => Url.Action("Index", new { page }))
                </div>
            </div>
        </div>




        <!-- //newsletter -->
        <!-- footer -->
        <div class="footer">
            <div class="container">
                <div class="w3_footer_grids">
                    <div class="col-sm-4 w3_footer_grid">
                        <h3>Contact</h3>

                        <ul class="address">

                            <li><i class="glyphicon glyphicon-envelope" aria-hidden="true"></i><a href="mailto:tom@gmail.com">tomutensilo@gmail.com</a></li>
                            <li><i class="glyphicon glyphicon-earphone" aria-hidden="true"></i>01404697652</li>
                        </ul>
                    </div>

                    <div class="col-sm-4 w3_footer_grid">
                        <h3>About US</h3>
                        <p>We are a crockeries website where we will provide you with the best crockeries</p>
                    </div>
                    <div class="col-sm-4 w3_footer_grid">

                        <h3>Follow Us</h3>
                        <div class="agileits_social_button">
                            <ul>
                                <li><a href="#" class="facebook"> </a></li>
                                <li><a href="#" class="twitter"> </a></li>
                                <li><a href="#" class="google"> </a></li>
                                <li><a href="#" class="pinterest"> </a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="clearfix"> </div>
                </div>
            </div>

            <div class="footer-copy">

                <p>&copy; 2022  Utensilo Shop. All rights reserved | Design by <a href="http://w3layouts.com/">TOM UTENSILO</a></p>

            </div>
        </div>
        <!-- //footer -->
        <!-- cart-js -->
        <script src="js/minicart.js"></script>
        <script>
            w3ls.render();

            w3ls.cart.on('w3sb_checkout', function (evt) {
                var items, len, i;

                if (this.subtotal() > 0) {
                    items = this.items();

                    for (i = 0, len = items.length; i < len; i++) {
                    }
                }
            });
        </script>





        <!-- //cart-js -->
        <!-- Bootstrap core JavaScript
        ================================================== -->
        <!-- Placed at the end of the document so the pages load faster -->
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
        <script>window.jQuery || document.write('<script src="../../assets/js/vendor/jquery.min.js"><\/script>')</script>
        <script src="../../dist/js/bootstrap.min.js"></script>
        <!-- Just to make our placeholder images work. Don't actually copy the next line! -->
        <script src="../../assets/js/vendor/holder.min.js"></script>
        <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
        <script src="../../assets/js/ie10-viewport-bug-workaround.js"></script>
</body>







</html>
