@using PagedList.Mvc;
@model  PagedList.IPagedList<tom2.Models.category>

@{

    ViewBag.Title = ("ViewCategory");
      Layout = "~/Views/Shared/_Layout1.cshtml";

}


<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>View  Category</title>
    <link href="~/Content/paginition.css" rel="stylesheet" />
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" />
    <link href="~/Content/bootstrap.css" rel="stylesheet" />

    <link href="~/Content/Cat_Style/bootstrap.css" rel="stylesheet" />
    <link href="~/Content/Cat_Style/style.css" rel="stylesheet" />
    <link href="~/Content/Cat_Style/font-awesome.css" rel="stylesheet" />
    <link href="~/Content/Cat_Style/flexslider.css" rel="stylesheet" />

</head>


<body>

    <div class="header" id="home1">
        <div class="container">





            @* <img src="~/Content/img/logo5.png" style="background-size:cover;margin-top:30px;height:500px" width="100%" />*@


            <div class="container" style="height:1150px; ">




                <hr />
                <h1 style="text-align:center"> OUR PRODUCT</h1>
                <hr />


                <div class="row" style="margin-bottom:40px">
                    @if (Model != null)
                    {
                        foreach (var item in Model)
                        {





                            <div class="col-lg-4 col-md-4" style="height:220px;margin-top:160px">
                                <img src="@Url.Content(item.cat_image)" style=" height:130%;width:100%" />
                                <br />
                                <h4 style="color:#808080; font-family:'Arial Rounded MT';text-align:center;margin-top:20px">@Html.ActionLink(@item.cat_name, "DisplayAdd", new { id = @item.cat_id })</h4>
                                <br />

                            </div>



                        }
                    }






                </div>





            </div>

            <div style="margin-top:370px">
                <div id="container" style="margin-left: 100px">
                    <p></p>
                    <p></p>
                    <div class="pagination" style="margin-left: 400px">
                        Page @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber)
                        of @Model.PageCount   @Html.PagedListPager(Model, page => Url.Action("ViewCategory", new { page }))
                    </div>
                </div>
            </div>







            <div class="footer">
                <div class="container">
                    <div class="w3_footer_grids">
                        <div class="col-sm-4 w3_footer_grid">
                            <h3>Contact</h3>

                            <ul class="address">

                                <li><i class="glyphicon glyphicon-envelope" aria-hidden="true"></i><a href="mailto:tom@gmail.com">tomutensilo@gmail.com</a></li>
                                <li><i class="glyphicon glyphicon-earphone" aria-hidden="true"></i>01404697652</li>
                            </ul>
                        </div>

                        <div class="col-sm-4 w3_footer_grid">
                            <h3>About US</h3>
                            <p>We are a crockeries website where we will provide you with the best crockeries</p>
                        </div>
                        <div class="col-sm-4 w3_footer_grid">

                            <h3>Follow Us</h3>
                            <div class="agileits_social_button">
                                <ul>
                                    <li><a href="#" class="facebook"> </a></li>
                                    <li><a href="#" class="twitter"> </a></li>
                                    <li><a href="#" class="google"> </a></li>
                                    <li><a href="#" class="pinterest"> </a></li>
                                </ul>
                            </div>
                        </div>
                        <div class="clearfix"> </div>
                    </div>
                </div>

                <div class="footer-copy">

                    <p>&copy; 2022  Utensilo Shop. All rights reserved | Design by <a href="http://w3layouts.com/">TOM UTENSILO</a></p>

                </div>
            </div>




















         
            <!-- cart-js -->
            <script src="js/minicart.js"></script>
            <script>
                w3ls.render();

                w3ls.cart.on('w3sb_checkout', function (evt) {
                    var items, len, i;

                    if (this.subtotal() > 0) {
                        items = this.items();

                        for (i = 0, len = items.length; i < len; i++) {
                        }
                    }
                });
            </script>
            <!-- //cart-js -->
</body>
</html>
